/*External Styling*/

* {
	font-family: "Courier New", monospace;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

body{
	background-color: lightblue;
}

html{
	scroll-behavior: smooth;
}

nav{
	background-color: white;
}

h1{
	color: black !important;
	text-align: center;
	font-size: 2rem;
}
#zuitt-motto{
	letter-spacing: 5px;
}
ol{
	list-style-type: none;
}

section {
	height: 100vh;
	text-align: center;
}
h2{
	font-size: 1.5rem;
}
.offering-item{
	text-transform: uppercase;
}
input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}
#zuitt-motto + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*descendant selector*/
#bootcamp-learning-list li{
	color: red;
}

/*general sibling selector*/

/*h2 ~ a{
	text-decoration: none;
}*/
a{
	text-decoration: none;
}
form{
	text-align: center;
	background-color: white;
	border: 1px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

/*child selector*/
section > form > label {
	color: rgb(0, 0, 128);
}

button{
	color: white;
	background-color: #cf0053;
	border: 0;
	border-radius: 15px;
	margin-top: 5px;
}