*{
	margin: 0;
	padding: 0;
	font-family: "sans-serif", Verdana;
	font-size: 20px;
}

body{
	background-color: #4e6064;
}

.first-section{
	width: 30vw;
	height: 100vh;
	float: right;
	border-left: 3px solid black;
}
.second-section{
	width: 70vw;
	color: white;
}

.ex-s-p{
	color: yellow;
}

.first-section p{
	padding: 10px;
	text-align: center;
	margin: 25px 0px;

}

h1{
	font-size: 3rem;
	text-align: center;
}

#h2-text{
	text-transform: uppercase;
}
.lang-sec
{
	padding: 50px;
}
.tool-sec{
	padding: 50px;
}
.lang-items{
	background-color: #90ee90;
	margin-bottom: 5px;
	color: gray;
}
.tool-items{
	border: 2px solid rgb(0, 0, 128);
	margin-bottom: 5px;
}

ul, ol{
	list-style-type: none;
}
section img{
	height: 20vh;
	width: 20vw;
	border-radius: 150px;
	position: relative;
	left: 37%;
}
section > ol > li{
	letter-spacing: 10px;
}